@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 20rem; /* 320px */
  --breakpoint-sm: 34.375rem; /* 550px */
  --breakpoint-md: 43.75rem; /* 700px */
  --breakpoint-lg: 56.25rem; /* 900px */
  --breakpoint-xl: 71.25rem; /* 1140px */
  --breakpoint-2xl: 85rem; /* 1360px */
  --breakpoint-3xl: 98.125rem; /* 1570px


  /* --breakpoint-sm: 30rem; 480px */
  /* --breakpoint-md: 40rem; /* 640px */
  /* --breakpoint-lg: 48rem; 768px */ 
  /* --breakpoint-xl: 64rem; 1024px */
  /* --breakpoint-2xl: 80rem; 1280px */
  /* --breakpoint-3xl: 96rem; 1536px */
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes bgZoom {
  0%, 100% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 120% 120%;
  }
}


/* Arrows */
.swiper-button-next,
.swiper-button-prev {
  @apply bg-black/60 text-white w-5 h-5 rounded-full flex items-center justify-center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 14px !important; /* shrink default arrow */
}

/* Dots
.swiper-pagination-bullet {
  @apply text-gray-900 w-2.5 h-2.5;
}

.swiper-pagination-bullet-active {
  @apply bg-blue-500 opacity-100;
} */

/* Remove Swiper’s default bullet look */
.swiper-pagination-bullet {
  background: none !important;
  opacity: 1 !important;
  width: auto !important;
  height: auto !important;
  margin: 0 4px !important;
}


.swiper-pagination-bullet-active .block {
  @apply bg-black;
}


.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
  display: block;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px;        /* slender scroll */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #6b7280;  /* Tailwind gray-500 */
  border-radius: 10000px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #6b7280 transparent;
}



/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
